src/main/mule/azuredevops_poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="azuredevops_pocFlow" doc:id="8e83cf5a-98f1-4fb2-a349-d24731ac6901" >
		<http:listener doc:name="8081/azureDevops" doc:id="1fd89dab-329c-4286-8e83-ab4e13a9550c" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<set-payload value='#[{&#10;"transactionInfo": {&#10;"transactionId": "b8c23a00-3b03-11ec-9819-0a92f7e420f0",&#10;"transactionSource": "STEALTH",&#10;"timestamp": "2021-11-01T11:06:11.856Z"&#10;},&#10;"notifications": [{&#10;"asnHeader": {&#10;"messageType": "HASN",&#10;"format": "001",&#10;"status": "C",&#10;"sendor": "SMC",&#10;"type": "2112",&#10;"receiver": "M600",&#10;"partnerCode": "TWS",&#10;"locationId": "",&#10;"docRef": "IT9,M102,2021,03,32",&#10;"docCreationTimestamp": "2021-11-01T11:06:11.857Z",&#10;"deliveryType": "I",&#10;"deliveryIndex": 0,&#10;"deliveryWindow": "",&#10;"mgtSocCod": "CN9",&#10;"receiptNumber": "CN9/M600/2021/01/2", //Dnnumber -M600&#10;"receiptType": "B",&#10;"receiptDate": "2021-09-01",&#10;"receiptOrder": "IT9,M102,2021,03,32",&#10;"returnAuthorizationNumber": "",&#10;"inboundLocation": "A01",&#10;"warehouse": "",&#10;"warehouseType": "",&#10;"originApplication": "SMC",&#10;"lastModificationTimestamp": "",&#10;"lastModificationUser": "",&#10;"accountEntity": "",&#10;"inboundType": "ASN",&#10;"flowCode": "",&#10;"isRawMaterials": false,&#10;"season": "/",//SEASON&#10;"sender": {&#10;"senderId": "VICIT9",//SUPPLIER&#10;"senderName": "VICIT9",&#10;"senderAddress": {&#10;"addressLine1": "",&#10;"addressLine2": "",&#10;"cityName": "",&#10;"countryCode": "",&#10;"postalCode": "",&#10;"country": ""&#10;}&#10;},&#10;"attributes": [{&#10;"attrName": "",&#10;"attrValue": ""&#10;}]&#10;},&#10;"lineItems": [{&#10;"sublineExists": true,&#10;"itemId": "341360STA24400001646",&#10;"stealthSKUId": "STA24/4000//46/016",&#10;"barCodeId": "",&#10;"style": "341360",//STYLE&#10;"parte": "STA24",//MATERIAL&#10;"color": "4000",//COLOR&#10;"size": "46",//SIZE&#10;"sizeGrid": "016",&#10;"itemLine": "101",&#10;"quantity": 20, //QTY&#10;"unitMeasure": "PZ", //Dnnumber&#10;"gradeCode": "T01",&#10;"reasonCode": "",&#10;"documentId": "",&#10;"cqQuantity": "",&#10;"serialNumber": "",&#10;"poNumber": "",&#10;"length": 0,&#10;"width": 0,&#10;"height": 0,&#10;"weight": 0,&#10;"weightUOM": "",&#10;"baseUomQuantity": 0,&#10;"mgrEclCod": "COL_P",&#10;"mgrCllAnno": "2021",&#10;"mgrCllCod": "265",&#10;"attributes": [{&#10;"attrName": "",&#10;"attrValue": ""&#10;}],&#10;"barCode": "900128649" //sku  //Dnnumber&#10;},&#10;{&#10;"sublineExists": true,&#10;"itemId": "511240SPW34100001638",&#10;"stealthSKUId": "SPW34/1000//38/016",&#10;"barCodeId": "",&#10;"style": "511240",&#10;"parte": "SPW34",&#10;"color": "1000",&#10;"size": "38",&#10;"sizeGrid": "016",&#10;"itemLine": "201",&#10;"quantity": 10,&#10;"unitMeasure": "PZ",&#10;"gradeCode": "T01",&#10;"reasonCode": "",&#10;"documentId": "",&#10;"cqQuantity": "",&#10;"serialNumber": "",&#10;"poNumber": "",&#10;"length": 0,&#10;"width": 0,&#10;"height": 0,&#10;"weight": 0,&#10;"weightUOM": "",&#10;"baseUomQuantity": 0,&#10;"mgrEclCod": "COL_P",&#10;"mgrCllAnno": "2021",&#10;"mgrCllCod": "265",&#10;"attributes": [{&#10;"attrName": "",&#10;"attrValue": ""&#10;}],&#10;"barCode": "900131769"&#10;},&#10;{&#10;"sublineExists": true,&#10;"itemId": "511240SPW34126201638",&#10;"stealthSKUId": "SPW34/1262//38/016",&#10;"barCodeId": "",&#10;"style": "511240",&#10;"parte": "SPW34",&#10;"color": "1262",&#10;"size": "38",&#10;"sizeGrid": "016",&#10;"itemLine": "301",&#10;"quantity": 20,&#10;"unitMeasure": "PZ",&#10;"gradeCode": "T01",&#10;"reasonCode": "",&#10;"documentId": "",&#10;"cqQuantity": "",&#10;"serialNumber": "",&#10;"poNumber": "",&#10;"length": 0,&#10;"width": 0,&#10;"height": 0,&#10;"weight": 0,&#10;"weightUOM": "",&#10;"baseUomQuantity": 0,&#10;"mgrEclCod": "COL_P",&#10;"mgrCllAnno": "2021",&#10;"mgrCllCod": "265",&#10;"attributes": [{&#10;"attrName": "",&#10;"attrValue": ""&#10;}],&#10;"barCode": "900131770"&#10;},&#10;{&#10;"sublineExists": true,&#10;"itemId": "372773SOH64400804225",&#10;"stealthSKUId": "SOH64/4008//25/042",&#10;"barCodeId": "",&#10;"style": "372773",&#10;"parte": "SOH64",&#10;"color": "4008",&#10;"size": "25",&#10;"sizeGrid": "042",&#10;"itemLine": "401",&#10;"quantity": 10,&#10;"unitMeasure": "PZ",&#10;"gradeCode": "T01",&#10;"reasonCode": "",&#10;"documentId": "",&#10;"cqQuantity": "",&#10;"serialNumber": "",&#10;"poNumber": "",&#10;"length": 0,&#10;"width": 0,&#10;"height": 0,&#10;"weight": 0,&#10;"weightUOM": "",&#10;"baseUomQuantity": 0,&#10;"mgrEclCod": "COL_P",&#10;"mgrCllAnno": "2021",&#10;"mgrCllCod": "265",&#10;"attributes": [{&#10;"attrName": "",&#10;"attrValue": ""&#10;}],&#10;"barCode": "900131215"&#10;},&#10;{&#10;"sublineExists": true,&#10;"itemId": "372773SOH64400804227",&#10;"stealthSKUId": "SOH64/4008//27/042",&#10;"barCodeId": "",&#10;"style": "372773",&#10;"parte": "SOH64",&#10;"color": "4008",&#10;"size": "27",&#10;"sizeGrid": "042",&#10;"itemLine": "402",&#10;"quantity": 10,&#10;"unitMeasure": "PZ",&#10;"gradeCode": "T01",&#10;"reasonCode": "",&#10;"documentId": "",&#10;"cqQuantity": "",&#10;"serialNumber": "",&#10;"poNumber": "",&#10;"length": 0,&#10;"width": 0,&#10;"height": 0,&#10;"weight": 0,&#10;"weightUOM": "",&#10;"baseUomQuantity": 0,&#10;"mgrEclCod": "COL_P",&#10;"mgrCllAnno": "2021",&#10;"mgrCllCod": "265",&#10;"attributes": [{&#10;"attrName": "",&#10;"attrValue": ""&#10;}],&#10;"barCode": "900131217"&#10;},&#10;{&#10;"sublineExists": true,&#10;"itemId": "372773SOH64400804228",&#10;"stealthSKUId": "SOH64/4008//28/042",&#10;"barCodeId": "",&#10;"style": "372773",&#10;"parte": "SOH64",&#10;"color": "4008",&#10;"size": "28",&#10;"sizeGrid": "042",&#10;"itemLine": "403",&#10;"quantity": 15,&#10;"unitMeasure": "PZ",&#10;"gradeCode": "T01",&#10;"reasonCode": "",&#10;"documentId": "",&#10;"cqQuantity": "",&#10;"serialNumber": "",&#10;"poNumber": "",&#10;"length": 0,&#10;"width": 0,&#10;"height": 0,&#10;"weight": 0,&#10;"weightUOM": "",&#10;"baseUomQuantity": 0,&#10;"mgrEclCod": "COL_P",&#10;"mgrCllAnno": "2021",&#10;"mgrCllCod": "265",&#10;"attributes": [{&#10;"attrName": "",&#10;"attrValue": ""&#10;}],&#10;"barCode": "900131218"&#10;},&#10;{&#10;"sublineExists": true,&#10;"itemId": "372773SOH64400804230",&#10;"stealthSKUId": "SOH64/4008//30/042",&#10;"barCodeId": "",&#10;"style": "372773",&#10;"parte": "SOH64",&#10;"color": "4008",&#10;"size": "30",&#10;"sizeGrid": "042",&#10;"itemLine": "404",&#10;"quantity": 15,&#10;"unitMeasure": "PZ",&#10;"gradeCode": "T01",&#10;"reasonCode": "",&#10;"documentId": "",&#10;"cqQuantity": "",&#10;"serialNumber": "",&#10;"poNumber": "",&#10;"length": 0,&#10;"width": 0,&#10;"height": 0,&#10;"weight": 0,&#10;"weightUOM": "",&#10;"baseUomQuantity": 0,&#10;"mgrEclCod": "COL_P",&#10;"mgrCllAnno": "2021",&#10;"mgrCllCod": "265",&#10;"attributes": [{&#10;"attrName": "",&#10;"attrValue": ""&#10;}],&#10;"barCode": "900131220"&#10;},&#10;{&#10;"sublineExists": true,&#10;"itemId": "372773SOH64400804231",&#10;"stealthSKUId": "SOH64/4008//31/042",&#10;"barCodeId": "",&#10;"style": "372773",&#10;"parte": "SOH64",&#10;"color": "4008",&#10;"size": "31",&#10;"sizeGrid": "042",&#10;"itemLine": "405",&#10;"quantity": 20,&#10;"unitMeasure": "PZ",&#10;"gradeCode": "T01",&#10;"reasonCode": "",&#10;"documentId": "",&#10;"cqQuantity": "",&#10;"serialNumber": "",&#10;"poNumber": "",&#10;"length": 0,&#10;"width": 0,&#10;"height": 0,&#10;"weight": 0,&#10;"weightUOM": "",&#10;"baseUomQuantity": 0,&#10;"mgrEclCod": "COL_P",&#10;"mgrCllAnno": "2021",&#10;"mgrCllCod": "265",&#10;"attributes": [{&#10;"attrName": "",&#10;"attrValue": ""&#10;}],&#10;"barCode": "900131221"&#10;},&#10;{&#10;"sublineExists": true,&#10;"itemId": "372773SOH64400804233",&#10;"stealthSKUId": "SOH64/4008//33/042",&#10;"barCodeId": "",&#10;"style": "372773",&#10;"parte": "SOH64",&#10;"color": "4008",&#10;"size": "33",&#10;"sizeGrid": "042",&#10;"itemLine": "406",&#10;"quantity": 20,&#10;"unitMeasure": "PZ",&#10;"gradeCode": "T01",&#10;"reasonCode": "",&#10;"documentId": "",&#10;"cqQuantity": "",&#10;"serialNumber": "",&#10;"poNumber": "",&#10;"length": 0,&#10;"width": 0,&#10;"height": 0,&#10;"weight": 0,&#10;"weightUOM": "",&#10;"baseUomQuantity": 0,&#10;"mgrEclCod": "COL_P",&#10;"mgrCllAnno": "2021",&#10;"mgrCllCod": "265",&#10;"attributes": [{&#10;"attrName": "",&#10;"attrValue": ""&#10;}],&#10;"barCode": "900131223"&#10;}&#10;]&#10;}]&#10;}]' doc:name="Set Payload" doc:id="81a621ec-3ae1-459e-9b9f-8b97572cdb68" />
		<ee:transform doc:name="Transform Message" doc:id="a8b68da3-3f15-4309-919e-f4b36a4e065d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
flatten(payload.notifications map ((item, index) -> 
item.lineItems map ((item1, index1) -> {
    
    "DN_NUMBER": (item.asnHeader.receiptNumber splitBy  ("/"))[1] ++ "-" ++ item1.unitMeasure ++ "-" ++ item1.barCode,
    "DN_DATE" : now() as Date,
    "SKU" : item1.barCode,
    "STYLE" : item1.style,
    "MATERIAL" : item1.parte,
    "COLOR" : item1.color,
    "SIZE" : item1.size,
    "SEASON" : item.asnHeader.season,
    "DESCRIPTION" : " ",
    "SUPPLIER" : "StellaMcCartney",
    "QTY" : item1.quantity
})))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5fe86ab9-54cb-4b66-bb78-4be21260b927" message="#[payload]"/>
	</flow>
</mule>
